In [1]:
import pandas as pd

In [2]:
def excel_to_csv(input_excel_path, output_csv_path):
    # Load the Excel file
    df = pd.read_excel(input_excel_path)

    # Save to CSV with UTF-8 encoding
    df.to_csv(output_csv_path, encoding='utf-8', index=False)

# Example usage
excel_to_csv('Count number of companies.xlsx', 'Count number of companies.csv')

In [3]:
df = pd.read_csv('Count number of companies.csv')

In [4]:
df.head()

,serial number,Company,The location of the recycling service outlet,The name of the recycling service location,address,Short_Company_Name,City
0,1,"BYD Automobile Co., Ltd","Tongzhou District, Beijing","Beijing BYD Mould Co., Ltd","No. 1, Kechuang East <>th Street, Tongzhou Dis...","BYD Automobile Co.,",Beijing
1,2,"BYD Automobile Co., Ltd","Wuqing District, Tianjin","Tianjin BYD Automobile Co., Ltd","No. 2, Tianfu Road, Auto Parts Industrial Park...","BYD Automobile Co.,",Tianjin
2,3,"BYD Automobile Co., Ltd","Taiyuan City, Shanxi Province","Taiyuan BYD Automobile Co., Ltd","No. 301, Tanghuai Road, Taiyuan Tanghuai Park,...","BYD Automobile Co.,",Taiyuan
3,4,"BYD Automobile Co., Ltd","Songjiang District, Shanghai","Shanghai BYD Co., Ltd","No. 999, Xiangjing Road, Chedun Town, Songjian...","BYD Automobile Co.,",Shanghai
4,5,"BYD Automobile Co., Ltd","Hangzhou City, Zhejiang Province","Hangzhou BYD Automobile Co., Ltd","No. 99-1, Qihang Road, Renhe Street, Yuhang Di...","BYD Automobile Co.,",Hangzhou

In [13]:
# 分别按两列聚合

res = df.groupby(['City'])[['Company','The name of the recycling service location']].nunique().reset_index()

In [12]:
res

,City,Company,The name of the recycling service location
0,Aba Tibetan-Qiang Autonomous Prefecture,6,6
1,Administrative divisions at the county level d...,5,5
2,Aksu Prefecture,13,11
3,Altay Prefecture,3,2
4,Alxa,2,2
...,...,...,...
333,Zibo,46,43
334,Zigong,26,16
335,Ziyang,14,11
336,Zunyi,33,43
337,Ürümqi,47,51

In [14]:
res.to_csv('res_Count the number of copanies.csv', index=False)

In [15]:
res.to_excel('res_Count the number of copanies.xlsx', index=False, engine='openpyxl')