In [24]:
import pandas as pd

In [25]:
#### change excel into csv

def excel_to_csv(input_excel_path, output_csv_path):
    # Load the Excel file
    df = pd.read_excel(input_excel_path)

    # Save to CSV with UTF-8 encoding
    df.to_csv(output_csv_path, encoding='utf-8', index=False)

# Example usage
excel_to_csv('python _procee_doublefirstclass_disciplines.xlsx', 'python _procee_doublefirstclass_disciplines.csv')

In [26]:
# reading the CSV file
df = pd.read_csv('python _procee_doublefirstclass_disciplines.csv')

In [27]:
df.head()

,school_name,discipline
0,Anhui University,材料科学与工程
1,Peking University,哲学、理论经济学、应用经济学、法学、政治学、社会学、马克思主义理论、心理学、中国语言文学、外...
2,Beijing University of Technology,土木工程
3,Beihang University,力学、仪器科学与技术、材料科学与工程、控制科学与工程、计算机科学与技术、交通运输工程、航空宇...
4,Beijing University of Chemical Technology,化学工程与技术

In [28]:
df['discipline']

0                                                材料科学与工程
1      哲学、理论经济学、应用经济学、法学、政治学、社会学、马克思主义理论、心理学、中国语言文学、外...
2                                                   土木工程
3      力学、仪器科学与技术、材料科学与工程、控制科学与工程、计算机科学与技术、交通运输工程、航空宇...
4                                                化学工程与技术
                             ...
142                                                应用经济学
143                                              美术学、设计学
144                                                  民族学
145                                               戏剧与影视学
146                                               音乐与舞蹈学
Name: discipline, Length: 147, dtype: object

In [29]:
# split column "discipline"
df['discipline'] = df['discipline'].str.split('、')

# transform one row to multiple rows
transformed_df = df.explode('discipline')

In [30]:
transformed_df

                       school_name discipline
0                 Anhui University    材料科学与工程
1                Peking University         哲学
1                Peking University      理论经济学
1                Peking University      应用经济学
1                Peking University         法学
..                             ...        ...
143   Central Academy of Fine Arts        美术学
143   Central Academy of Fine Arts        设计学
144      Minzu University of China        民族学
145   The Central Academy of Drama     戏剧与影视学
146  Central Conservatory of Music     音乐与舞蹈学

[509 rows x 2 columns]

In [45]:
###### create translator

from googletrans import Translator, LANGUAGES
import time

# Function to translate city names using Google Translate
def translate_discipline(name, translator=None):
    if not translator:
        translator = Translator()
    translation = translator.translate(name, src='zh-cn', dest='en')
    time.sleep(1)
    return translation.text


# Create a Translator object
translator = Translator()

In [46]:
# Translate each school in the DataFrame
transformed_df['English_discipline'] = transformed_df['discipline'].apply(lambda x: translate_discipline(x, translator))

In [47]:
transformed_df

,school_name,discipline,English_discipline
0,Anhui University,材料科学与工程,Materials Science and Engineering
1,Peking University,哲学,philosophy
1,Peking University,理论经济学,Theoretical economics
1,Peking University,应用经济学,applied economics
1,Peking University,法学,Law of law
...,...,...,...
143,Central Academy of Fine Arts,美术学,Fine Arts
143,Central Academy of Fine Arts,设计学,Design
144,Minzu University of China,民族学,Ethnology
145,The Central Academy of Drama,戏剧与影视学,Drama and Film and Television
146,Central Conservatory of Music,音乐与舞蹈学,Music and dance studies

In [48]:
transformed_df.to_csv('update_discipline.csv', index=False)

In [49]:
transformed_df.to_excel('update_discipline.xlsx', index=False, engine='openpyxl')